<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{nameParam}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{subtitleParam}}</h6>
    <p class="card-text">{{bioParam}}</p>
    <a href={{link1Param}} class="card-link">Google</a>
    <a href={{link2Param}} class="card-link">Youtube</a>

  </div>

  <h2 *ngIf="author === 'joao'; else ehDoce">
    Cajuzinho
  </h2>
  <ng-template #ehDoce>
    <h2>Chocolate</h2>
  </ng-template>

  <button (click)="addNameOnList()" class="btn btn-outline-primary">
    Adiciona
  </button>


  <ul>
    <li *ngFor="let item of list; let indefOfElement=index;" >
      {{item}}
      <button (click)="remove(indefOfElement)" class="btn btn-outline-danger">
        Remove
      </button>
    </li>
  </ul>
</div>
